@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

::selection {
	background: #171717; /* Tailwind's neutral-900 */
	color: #ededed; /* Ensure text is visible on dark background */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #bdbdbd;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #bdbdbd transparent;
}

:root {
	scrollbar-gutter: stable;
}
